@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --radius:0.5rem
  }
}
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:#D4AF37; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #FFC1CC;
  }
}